<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/monokai.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section data-audio-text="Hallo mein Name ist Dennis und dies sind die Corona Informationen">
            <h1>Corona Info</h1>
            <p>Dies ist ein kleiner Test...</p>
        </section>
<!--        <section>Slide 2</section>-->
    </div>
</div>

<script src="js/reveal.js"></script>

<script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
        hash: true,
        dependencies: [
            {src: 'plugin/markdown/marked.js'},
            {src: 'plugin/markdown/markdown.js'},
            {src: 'plugin/highlight/highlight.js'},
            {src: 'plugin/notes/notes.js', async: true},

            //	audio-Slideshow
            { src: 'plugin/audio-slideshow/RecordRTC.js', condition: function( ) { return !!document.body.classList; } },
            { src: 'plugin/audio-slideshow/slideshow-recorder.js', condition: function( ) { return !!document.body.classList; } },
            { src: 'plugin/audio-slideshow/audio-slideshow.js', condition: function( ) { return !!document.body.classList; } }
        ],
        audio: {
            // prefix: 'audio/', 	// audio files are stored in the "audio" folder
            suffix: '.ogg',		// audio files have the ".ogg" ending
            textToSpeechURL: "http://api.voicerss.org/?key=cfd596fcbbe34564ac52a71af9aa3de1&hl=de-de&c=ogg&src=",  // the URL to the text to speech converter
            // textToSpeechURL: "https://translate.google.com/translate_tts?ie=UFT-8&tl=de&client=gtx&q=",  // the URL to the text to speech converter
            autoplay: false,	// automatically start slideshow
        },
        keyboard: {
            82: function () {
                Recorder.toggleRecording();
            },	// press 'r' to start/stop recording
            90: function () {
                Recorder.downloadZip();
            }, 	// press 'z' to download zip containing audio files
        }
    });
</script>
</body>
</html>